<h1>Dashboard</h1>




<section id="content" role="main">
  <!-- AUI Sidebar -->
  <div class="aui-sidebar">
    <div class="aui-sidebar-wrapper">
      <div class="aui-sidebar-body">

        <!-- AUI Page Header -->
        <header class="aui-page-header">
          <div class="aui-page-header-inner">
            <div class="aui-page-header-image">
                            <span class="aui-avatar aui-avatar-project aui-avatar-large">
                                <span class="aui-avatar-inner">
                                    <img src="images/avatar-project.svg" alt="" role="presentation" />
                                </span>
                            </span>

            </div>
            <div class="aui-page-header-main">
              <h1>
                AUI Sidebar
              </h1>
              <ol class="aui-nav aui-nav-breadcrumbs">
                <li>
                  <a href="#"><span class="aui-nav-item-label">This is a really really long title for whatever this is</span></a>
                </li>
              </ol>
            </div>
          </div>
        </header>

        <!-- AUI Navigation -->
        <nav class="aui-navgroup aui-navgroup-vertical">
          <div class="aui-navgroup-inner">

            <!-- A Sidebar group will collapse into a single trigger icon when sidebar is collapsed -->
            <!-- The 'actions' sidebar group type will be styled differently from normal groups when sidebar is collapsed -->
            <div class="aui-sidebar-group aui-sidebar-group-actions">

              <!-- the AUI Nav heading will be used as the tooltip text -->
              <div class="aui-nav-heading" title="Actions">
                <strong>Actions</strong>
              </div>

              <!-- If a sidebar group does not have a nav heading, then the aui-nav's title attribute will be used
                   for the tooltip for the group -->
              <ul class="aui-nav" title="Page actions">
                <li>
                  <a class="aui-nav-item" href="#" title="Edit">Edit</a>
                </li>
                <li>
                  <a class="aui-nav-item" href="#" title="View">View</a>
                </li>
                <li>
                  <a class="aui-nav-item" href="#" title="Share">Share</a>
                </li>
              </ul>
            </div>

            <!-- A "Tier One" Sidebar group will display all of its nav items, but all nav items MUST have an AUI Icon
                 which will be used when the sidebar is collapsed -->
            <div class="aui-sidebar-group aui-sidebar-group-tier-one">

              <!-- in a "Tier One" Sidebar group, AUI Nav heading is ignored, and each nav item's label will be used
                   as the tooltip text instead -->
              <div class="aui-nav-heading" title="Stuff">
                <strong>Simple Nav</strong>
              </div>

              <ul class="aui-nav">
                <li class="aui-nav-selected">
                  <a class="aui-nav-item" href="#">

                    <!-- "Tier One" navigation items MUST have an AUI Icon before the text label -->
                    <span class="aui-icon aui-icon-small aui-iconfont-info"></span>


                    <!-- "Tier One" Nav items labels also need an extra SPAN around them with the aui-nav-item-label class -->
                    <span class="aui-nav-item-label">Summary</span>
                  </a>
                </li>
                <li>
                  <a class="aui-nav-item" href="#" title="This is a really really long title for whatever this is">
                    <span class="aui-icon aui-icon-small aui-iconfont-details"></span>
                    <span class="aui-nav-item-label">Issues</span>
                  </a>
                </li>
                <li>
                  <a class="aui-nav-item" href="#">
                    <span class="aui-icon aui-icon-small aui-iconfont-jira-completed-task"></span>
                    <span class="aui-nav-item-label">Road Map</span>
                  </a>
                </li>
                <li>
                  <a class="aui-nav-item" href="#">
                    <span class="aui-icon aui-icon-small aui-iconfont-time"></span>
                    <span class="aui-nav-item-label">Versions</span>
                  </a>
                </li>
                <li>
                  <a class="aui-nav-item" href="#">
                    <span class="aui-icon aui-icon-small aui-iconfont-devtools-submodule"></span>
                    <span class="aui-nav-item-label">Components</span>
                  </a>
                </li>
                <li>
                  <a class="aui-nav-item" href="#">
                    <span class="aui-icon aui-icon-small aui-iconfont-devtools-tag"></span>
                    <span class="aui-nav-item-label">Labels</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!-- Sidebar footer contains the expand/collapse trigger, and optionally a button or a dropdown with configuration settings -->
      <div class="aui-sidebar-footer">
        <a href="https://example.com" class="aui-button aui-button-subtle aui-sidebar-settings-button" title="Settings">
          <span class="aui-icon aui-icon-small aui-iconfont-configure"></span>
          <span class="aui-button-label">Settings</span>
        </a>
        <a class="aui-button aui-button-subtle aui-sidebar-toggle aui-sidebar-footer-tipsy" title="Collapse sidebar ( [ )">
          <span class="aui-icon aui-icon-small"></span>
        </a>
      </div>
    </div>
  </div><!-- end AUI Sidebar -->

  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">
        <!-- Page content goes here -->
      </section>
    </div>
  </div>
</section>



<h2>Forms</h2>

<form class="aui long-label">
  <fieldset>
    <div class="field-group">
      <aui-label for="toggle-demo">Send outgoing email</aui-label>
      <aui-toggle id="toggle-demo" label="Send outgoing email" checked tooltip-on="Enabled" tooltip-off="Disabled"></aui-toggle>
    </div>

    <div class="field-group">
      <aui-label for="demo-async-select">Async Heroes:</aui-label>
      <aui-select
        id="demo-async-select"
        name="hero"
        src="/jira/rest/heroes/1.0/heroes/autocomplete"
        placeholder="Select a Hero"
      >
      </aui-select>
    </div>

    <div class="field-group">
      <aui-label for="demo-classic-select">Choose your product synchronously:</aui-label>
      <aui-select
        id="demo-classic-select"
        name="product"
        placeholder="Select a product"
      >
        <aui-option>HipChat</aui-option>
        <aui-option>JIRA</aui-option>
        <aui-option>Confluence</aui-option>
        <aui-option>Stash</aui-option>
        <aui-option>FeCru</aui-option>
      </aui-select>
    </div>

    <div class="field-group">
      <label for="demo-select2-single">Select2 Single</label>
      <select class="aui-select2" id="demo-select2-single">
        <option value="CONF">Confluence</option>
        <option value="JIRA">JIRA</option>
        <option value="BAM">Bamboo</option>
        <option value="JAG">JIRA Agile</option>
        <option value="CAP">JIRA Capture</option>
        <option value="AUI">AUI</option>
      </select>
    </div>

    <div class="field-group">
      <label for="demo-select2-multi">Select2 Multiple</label>
      <select class="aui-select2" id="demo-select2-multi" multiple>
        <option value="CONF">Confluence</option>
        <option value="JIRA">JIRA</option>
        <option value="BAM">Bamboo</option>
        <option value="JAG">JIRA Agile</option>
        <option value="CAP">JIRA Capture</option>
        <option value="AUI">AUI</option>
      </select>
    </div>

    <div class="field-group">
      <label for="demo-date-field">Select a date <span class="aui-icon icon-required"> required</span></label>
      <input class="text aui-date-picker" id="demo-date-field" type="date" max="2021-01-25" min="2011-12-25" />
    </div>

    <div class="field-group">
      <label for="demo-message-length">Demo field <span class="aui-icon icon-required"> required</span></label>
      <input class="text" type="text" id="demo-message-length" name="demo-message-length" title="first name" data-aui-validation-field minlength="10">
      <div class="description">At least 10 characters</div>
    </div>
  </fieldset>
</form>

<h2>Toolbar2 With Tooltips</h2>

<div class="aui-flatpack-example toolbar2-example">
  <div class="aui-toolbar2">
    <div class="aui-toolbar2-inner">
      <div class="aui-toolbar2-primary">
        <div id="button-set" class="aui-buttons">
          <button title="Edit" class="aui-button aui-button-primary">Edit</button>
        </div>
        <div id="button-set1" class="aui-buttons">
          <button title="Assign" class="aui-button">Assign</button>
          <button title="Assign to me" class="aui-button">Assign to me</button>
          <button title="Comment" class="aui-button">Comment</button>
          <button title="More" class="aui-button aui-dropdown2-trigger" aria-owns="toolbardemo-dropdown2-more" aria-haspopup="true" aria-controls="toolbardemo-dropdown2-more" data-container="#button-set1">More</button>
        </div>
      </div>
      <div class="aui-toolbar2-secondary">
        <div id="button-set2" class="aui-buttons">
          <button title="Download" class="aui-button aui-dropdown2-trigger" aria-owns="dropdown2-view" aria-haspopup="true" aria-controls="dropdown2-view" data-container="#button-set2"><span class="aui-icon aui-icon-small aui-iconfont-download">Download</span>
          </button>
        </div>
      </div>
    </div>
    <!-- .aui-toolbar-inner -->
  </div>

  <div id="toolbardemo-dropdown2-more" class="aui-dropdown2 aui-style-default" data-dropdown2-alignment="left">
    <div class="aui-dropdown2-section">
      <ul class="aui-list-truncate">
        <li><a title="Agile board" href="#" class="active">Agile board</a>
        </li>
        <li><a title="Rank to top" href="#">Rank to top</a>
        </li>
        <li><a title="Rank to bottom" href="#">Rank to bottom</a>
        </li>
      </ul>
    </div>
    <div class="aui-dropdown2-section">
      <ul class="aui-list-truncate">
        <li><a title="Log work" href="#">Log work</a>
        </li>
      </ul>
    </div>
    <div class="aui-dropdown2-section">
      <ul class="aui-list-truncate">
        <li><a title="Attach files" href="#">Attach files</a>
        </li>
        <li><a title="Attach screenshots" href="#">Attach screenshot</a>
        </li>
        <li><a title="Add/Edit UI mockup" href="#">Add/Edit UI mockup</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="dropdown2-view" class="aui-dropdown2 aui-style-default" data-dropdown2-alignment="right">
    <ul class="aui-list-truncate">
      <li><a title="XML" href="#" class="active">XML</a>
      </li>
      <li><a title="Word" href="#" class="">Word</a>
      </li>
      <li><a title="PDF" href="#" class="">PDF</a>
      </li>
    </ul>
  </div>
</div>

<h2>Tabs</h2>

<article class="aui-flatpack-example">
  <div class="aui-tabs horizontal-tabs" id="tabs-example1" role="application">
    <ul class="tabs-menu" role="tablist">
      <li class="menu-item active-tab" role="presentation">
        <a href="#tabs-example-first" id="aui-uid-0" role="tab" aria-selected="true">Designers</a>
      </li>
      <li class="menu-item" role="presentation">
        <a href="#tabs-example-second" id="aui-uid-1" role="tab" aria-selected="false">Developers</a>
      </li>
      <li class="menu-item" role="presentation">
        <a href="#tabs-example-third" id="aui-uid-2" role="tab" aria-selected="false">PMs</a>
      </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-example-first" role="tabpanel" aria-hidden="false" aria-labelledby="aui-uid-0">
      <h3>Designers</h3>
      <table class="aui">
        <thead>
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td headers="basic-number">1</td>
          <td headers="basic-fname">Matt</td>
          <td headers="basic-lname">Bond</td>
          <td headers="basic-username">mbond</td>
        </tr>
        <tr>
          <td headers="basic-number">2</td>
          <td headers="basic-fname">Ross</td>
          <td headers="basic-lname">Chaldecott</td>
          <td headers="basic-username">rchaldecott</td>
        </tr>
        <tr>
          <td headers="basic-number">3</td>
          <td headers="basic-fname">Henry</td>
          <td headers="basic-lname">Tapia</td>
          <td headers="basic-username">htapia</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tabs-pane" id="tabs-example-second" role="tabpanel" aria-hidden="true" aria-labelledby="aui-uid-1">
      <h3>Developers</h3>
      <table class="aui">
        <thead>
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td headers="basic-number">4</td>
          <td headers="basic-fname">Seb</td>
          <td headers="basic-lname">Ruiz</td>
          <td headers="basic-username">sruiz</td>
        </tr>
        <tr>
          <td headers="basic-number">7</td>
          <td headers="basic-fname">Sean</td>
          <td headers="basic-lname">Curtis</td>
          <td headers="basic-username">scurtis</td>
        </tr>
        <tr>
          <td headers="basic-number">8</td>
          <td headers="basic-fname">Matthew</td>
          <td headers="basic-lname">Watson</td>
          <td headers="basic-username">mwatson</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tabs-pane" id="tabs-example-third" role="tabpanel" aria-hidden="true" aria-labelledby="aui-uid-2">
      <h3>Product management</h3>
      <table class="aui">
        <thead>
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td headers="basic-number">5</td>
          <td headers="basic-fname">Jens</td>
          <td headers="basic-lname">Schumacher</td>
          <td headers="basic-username">jschumacher</td>
        </tr>
        <tr>
          <td headers="basic-number">6</td>
          <td headers="basic-fname">Sten</td>
          <td headers="basic-lname">Pittet</td>
          <td headers="basic-username">spittet</td>
        </tr>
        <tr>
          <td headers="basic-number">9</td>
          <td headers="basic-fname">James</td>
          <td headers="basic-lname">Dumay</td>
          <td headers="basic-username">jdumay</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- .aui-tabs -->
</article>

<h2>RESTful Table</h2>

<table id="demo-restful-table"></table>

<h2>Sortable Table</h2>

<section id="delete-confirmation-dialog" class="aui-dialog2 aui-dialog2-medium aui-dialog2-warning aui-layer" role="dialog" aria-hidden="true">
  <header class="aui-dialog2-header">
    <h2 class="aui-dialog2-header-main">Confirm</h2>
    <button class="aui-dialog2-header-close" aria-label="Close dialog">
      <span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span>
    </button>
  </header>
  <div class="aui-dialog2-content">
    <p>You want to delete row:</p>
    <p id="delete-confirmation-model"></p>
    <p> Are you sure?</p>
  </div>
  <footer class="aui-dialog2-footer">
    <div class="aui-dialog2-footer-actions">
      <button id="delete-confirmation-submit-button" class="aui-button aui-button-primary">Yes</button>
      <button id="warning-dialog-cancel" class="aui-button aui-button-link">Cancel</button>
    </div>
  </footer>
</section>

<table class="aui aui-table-sortable">
  <thead>
  <tr>
    <th class="aui-table-column-issue-key">Issue key</th>
    <th>Name</th>
    <th>Age</th>
    <th class="aui-table-column-unsortable">Description</th>
  <tr>
  </thead>
  <tbody>
  <tr>
    <td>TEST-12</td>
    <td>Cannot sort tables</td>
    <td>2</td>
    <td>Table sorting should be allowed</td>
  </tr>
  <tr>
    <td>WIN-87</td>
    <td>Issue Page doesn't load in IE</td>
    <td>7</td>
    <td>When loading issue page on IE it doesn't show</td>
  </tr>
  <tr>
    <td>DRINK-7</td>
    <td>Vending Machine is empty</td>
    <td>1</td>
    <td>Blocker</td>
  </tr>
  </tbody>
</table>

<h2>Progress Trackers</h2>

<ol class="aui-progress-tracker">
  <li class="aui-progress-tracker-step" style="width:25%"><span>Configure instance</span></li>
  <li class="aui-progress-tracker-step  aui-progress-tracker-step-current" style="width:25%"><span>Select plugins</span>
  </li>
  <li class="aui-progress-tracker-step" style="width:25%"><span>Invite users</span></li>
  <li class="aui-progress-tracker-step" style="width:25%"><span>Confirm</span></li>
</ol>

<h2>Progress Indicators</h2>

<aui-progressbar id="with-attributes" value="5" max="100"></aui-progressbar>
<aui-progressbar id="with-properties"></aui-progressbar>

<h2>Messages</h2>

<div id="demo-messages-container"></div>

<h2>Lozenges</h2>

<article class="aui-flatpack-example">
  <p>
    <span class="aui-lozenge">default</span>
    <span class="aui-lozenge aui-lozenge-success">success</span>
    <span class="aui-lozenge aui-lozenge-removed">removed</span>
    <span class="aui-lozenge aui-lozenge-inprogress">in progress</span>
    <span class="aui-lozenge aui-lozenge-new">new</span>
    <span class="aui-lozenge aui-lozenge-moved">moved</span>
  </p>
  <p>
    <span class="aui-lozenge aui-lozenge-subtle">default</span>
    <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success">success</span>
    <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-removed">removed</span>
    <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-inprogress">in progress</span>
    <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-new">new</span>
    <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-moved">moved</span>
  </p>
</article>

<h2>Icons</h2>

<div class="aui-group">
  <div id="icons-list">
    <span
      *ngFor="let icon of icons; let i=index"
      class="color-{{ colors[i % colors.length] }} aui-icon aui-icon-large aui-iconfont-{{ icon }}"
      title="{{ icon }}"
    ></span>
  </div>
</div>

<p>Spinner</p>
<aui-spinner></aui-spinner>

<h2>Dialogs</h2>

<button class="aui-button" aria-controls="inline-dialog-help" data-aui-trigger>Help dialog trigger</button>

<aui-inline-dialog id="inline-dialog-help" class="aui-help" alignment="bottom center">
  Helpful help message here!
</aui-inline-dialog>



<button data-aui-trigger aria-controls="more-details" class="aui-button">
  Show Inline Dialog
</button>
<aui-inline-dialog id="more-details">
  <p>Lorem ipsum.</p>
</aui-inline-dialog>




<!-- Create a trigger which will be used by the JavaScript -->
<button (click)="dialog.show()" id="dialog-show-button" class="aui-button">Show dialog</button>

<section id="demo-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" aria-hidden="true">
  <header class="aui-dialog2-header">
    <h2 class="aui-dialog2-header-main">Captain Picard...</h2>
    <button class="aui-dialog2-header-close" aria-label="close">
      <span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span>
    </button>
  </header>
  <div class="aui-dialog2-content">
    <p>We've detected debris of some sort in a loose orbit.</p>
    <p>I suggest we beam a section aboard for analysis...</p>
  </div>
  <footer class="aui-dialog2-footer">
    <div class="aui-dialog2-footer-actions">
      <button (click)="dialog.hide()" id="dialog-submit-button" class="aui-button aui-button-primary">Make it so</button>
    </div>
  </footer>
</section>





<h2>Flag</h2>

<button (click)="showFlag()" class="aui-button" id="button-spin-1">Show a Flag</button>


<h2>Expander</h2>

<div id="expander-with-replace-text-content" class="aui-expander-content">
  What happens when you add a shiny new browser to a stack of already-disagreeing citizens? You’ll inevitably find some bugs. This is the story of how we found a rendering quirk and how the Atlassian frontend team found and refined the fix. The problem The Atlassian User Interface (AUI) library has just finished an IE10 sprint to get our library prepped and ready for the newest member of the browser family. While IE10 seems generally quite good, we found a couple of problems due to IE10 dropping conditional comments; plus some undesirable behaviours.
</div>
<a id="replace-text-trigger" data-replace-text="Read less" class="aui-expander-trigger" aria-controls="expander-with-replace-text-content">Read more</a>

<h2>Reveal Text</h2>

<div id="container">
  <div id="reveal-text-content" class="aui-expander-content">
    What happens when you add a shiny new browser to a stack of already-disagreeing citizens? You’ll inevitably find some bugs. This is the story of how we found a rendering quirk and how the Atlassian frontend team found and refined the fix. The problem The Atlassian User Interface (AUI) library has just finished an IE10 sprint to get our library prepped and ready for the newest member of the browser family. While IE10 seems generally quite good, we found a couple of problems due to IE10 dropping conditional comments; plus some undesirable behaviours
    <a id="reveal-text-trigger" data-replace-text="Show less" data-replace-selector=".reveal-text-trigger-text"
       class="aui-expander-trigger aui-expander-reveal-text" aria-controls="reveal-text-content">
      <span class="reveal-text-trigger-text">Show more</span>
    </a>
  </div>
</div>


<h2>Dropdown Test</h2>


<button class="aui-button aui-dropdown2-trigger" aria-controls="example-dropdown">
  Dropdown menu
</button>

<aui-dropdown-menu id="example-dropdown">
  <aui-section label="Links">
    <aui-item-link href="http://atlassian.com">Atlassian</aui-item-link>
    <aui-item-link href="http://news.ycombinator.com">Hacker news</aui-item-link>
    <aui-item-link href="http://github.com">Github</aui-item-link>
  </aui-section>
  <aui-section label="Browsers">
    <aui-item-radio interactive checked>Chrome</aui-item-radio>
    <aui-item-radio interactive>Firefox</aui-item-radio>
    <aui-item-radio interactive disabled>Safari</aui-item-radio>
  </aui-section>
  <aui-section label="Languages">
    <aui-item-checkbox interactive checked>Javascript</aui-item-checkbox>
    <aui-item-checkbox interactive>Fortran</aui-item-checkbox>
    <aui-item-checkbox interactive>Rust</aui-item-checkbox>
  </aui-section>
</aui-dropdown-menu>


<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4" routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>

<app-hero-search></app-hero-search>
